'exception-reporting':
  'userId': 'c96d75a9-843a-d6f4-717b-54434486ec98'
'release-notes':
  'viewedVersion': '0.78.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8a4cfcf1a4293ba8f031fb948fc8c0abe316f22a'
'editor':
  'fontSize': 16
  'fontFamily': 'inconsolata-g'
  'showIndentGuide': true
  'showInvisibles': true
  'softWrap': true
  'softWrapAtPreferredLineLength': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'autosave': {}
