'exception-reporting':
  'userId': 'c96d75a9-843a-d6f4-717b-54434486ec98'
'release-notes':
  'viewedVersion': '0.79.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8a4cfcf1a4293ba8f031fb948fc8c0abe316f22a'
'editor':
  'fontSize': 16
  'fontFamily': 'inconsolata-g'
  'showIndentGuide': true
  'showInvisibles': true
  'softWrap': true
  'softWrapAtPreferredLineLength': true
  'tabLength': 2
'core':
  'themes': [
    'atom-light-ui'
    'atom-dark-syntax'
  ]
  'excludeVcsIgnoredPaths': false
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'autosave': {}
