'exception-reporting':
  'userId': 'c96d75a9-843a-d6f4-717b-54434486ec98'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8a4cfcf1a4293ba8f031fb948fc8c0abe316f22a'
'editor':
  'fontFamily': 'inconsolata-g'
  'showIndentGuide': true
  'showInvisibles': true
  'softWrap': true
  'softWrapAtPreferredLineLength': true
  'tabLength': 2
'core':
  'themes': [
    'atom-light-ui'
    'base16-light-syntax'
  ]
  'useReactEditor': true
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'autosave': {}
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
'git-diff':
  'showIconsInEditorGutter': true
'jshint':
  'validateOnlyOnSave': true
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
